*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

header{
    width: 100%;
    margin: auto;
    background-color: hsla(246, 83%, 45%);
    height: auto;
    /* outline: 2px solid red; */
    /* background-color: aqua; */
    /* font-size: 50%; */
}

nav{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: center;
    /* background-color: #6610f2; */
    background-color:  hsla(246, 83%, 45%);
    /* height: 20vh; */
    /* outline: 2px solid red; */
    /* text-decoration: none;
    font-size: large; */
}

li a{
    text-decoration: none;
    color: aliceblue;
    font-weight: 600;
    font-size: 16px;
    font-family: "Poppins";
}

ul{
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}


/* section one */
.section-one-background {
    background-color: #6610f2;
    width: 100%; 
}
.section-one{
background-color: #6610f2; 
margin: auto;
width: 85%;
height: 25rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
background-image: url(../images/coll.jpeg);
/* display: block; */
/* align-items: center;
justify-content: center; */
place-content: center;
align-content: center;
justify-content: center;

}

.section-one h1 {
    Margin-bottom: 2rem;
    font-size: 32px;
    text-align: left;

}
.section-one a {
    color: #fff;
    margin-right: 0.5rem;
    text-decoration: none;
    font-size: 16px;
}



/* section two */
.section-two {
    text-align: center;
    width: 100%;
    padding: 6rem 0 3.5rem 0;
    position: relative;
}
.section-two p {
    color: #2513d1;
    margin-bottom: 1rem;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 20.8px;
}
.f h2 {
    color: #1e1666;
    font-size: 39px;
    line-height: 46.8px;
    position: relative;
    margin-bottom: 4rem;
}
.section-two-b {
    display: flex;
    align-content: space-between;
}
.pic {
    width: 95%;
    margin: auto;
    border: 1px solid hsla(0, 0%, 37%, .3);
    padding-bottom: 1.5rem;
    box-shadow: 0 2px 4px #0003;
    border-radius: 3px;
}
.pic img {
    width: 100%;
}
.pic h2 {
    font-size: 22px;
    line-height: 28px;
    text-align: left;
    color: #1e1666;
    width: 90%;
    margin: auto;
    font-weight: 550;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pic p {
    font-size: 15px;
    line-height: 28px;
    color: #6a7c92;
    text-align: left;
    width: 90%;
    margin: auto;
}
.pix {
    width: 87%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    align-content: space-between;

}






/* section three */
.section-three {
    width: 100%;
    height: 35rem;
    display: flex;
}
.section-three-a {
    background-image: url(./Company/asst.png);
    width: 50%;
    height: 35rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    outline: 2px solid red;
}
.section-three-b{
    width: 50%;
    height: 35rem;
    background-color: black;
    outline: 10px solid greenyellow;
}
.section-three-b .texts {
    width: 93%;
    margin: auto;
    margin-top: 3rem;
}
.texts .content {
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-top: 3rem;
}
.texts .content h5 {
    font-size: 16px;
    color: #2513d1;
    width: 85%;
    margin: auto;
    line-height: 20.8px;
    letter-spacing: 1px;
}
.texts .content h3 {
    color: #fff;
    font-size: 38px;
    width: 85%;
    margin: auto;
    line-height: 45.6px;
}
.section-three-b .texts .content h3 span {
    color: #2513d1;
}

.section-three-b .texts .content h3::after {
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    margin-top: 1rem;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: #2513d1;
    box-sizing: border-box;
}

.section-three-b .texts .content h6 {
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    line-height: 28px;
    font-size: 17px;
}
.section-three-b .texts .content .pp {
    margin-top: 3rem;
}
.section-three-b .texts .content .pp h6 {
    font-size: 16px;
    margin-top: 0;
}
/* section four */
.section-four{
    width: 100%;
    display: flex;
}
.section-four-b {
    background-image: url(./Company/Company.png);
    width: 50%;
    height: 35rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* display: flex; */
    outline: 2px solid red;
}

/* .section-four-a=texts  */
.section-four .texts {
    width: 50%;
    margin: auto;
    margin-top: 3rem;
}
.section-four .texts .content {
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-top: 3rem;
    /* color: black; */
}
.section-four .texts .content h5 {
    font-size: 16px;
    color: #2513d1;
    width: 85%;
    margin: auto;
    line-height: 20.8px;
    letter-spacing: 1px;
}
.section-four .texts .content h3 {
    color: rgb(30, 22, 102);
    font-size: 38px;
    width: 85%;
    margin: auto;
    line-height: 45.6px;
}
.section-four .texts .content h3 span {
    color: #2513d1;
}
.section-four .texts .content h3::after {
    display: block;
    content: "";
    width: 58px;
    height: 4px;
    margin-top: 1rem;
    border: 4px solid transparent;
    border-bottom: 0;
    border-top-color: #2513d1;
    box-sizing: border-box;
}
.section-four .texts .content h6 {
    width: 85%;
    margin: 2rem auto auto;
    margin-top: 2rem;
    line-height: 28px;
    font-size: 17px;
    color: rgb(30, 22, 102);
    font-weight:500;

}
.section-four .texts .content .pp {
    margin-top: 3rem;
}
.section-four .texts .content .pp h6 {
    font-size: 16px;
    margin-top: 0;
}

/* section five */
.section-five {
    width: 100%;
    padding: 7rem 0px;
    padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ;
}
.section-five .firsts {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
.section-five .firsts h5 {
    color: rgb(37, 19, 209);
    line-height: 20.8px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 1rem;
}
.section-five .firsts h1 {
    font-size: 38px;
    line-height: 45.6px;
    color: rgb(30, 22, 102);
}
.section-five .seconds {
    width: 80%;
    display: grid;
    /* display: flex; */
    grid-template-columns: 1fr 1fr;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.section-five .seconds .boxs {
    background-color: rgb(37, 19, 209);
    height: auto;
    width: 90%;
    display: grid;
    position: relative;
    border-radius: 3px;
    border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-right-radius: ;
    border-bottom-left-radius: ;
    padding: 3rem 0px 4rem;
    padding-top: ;
    padding-right: ;
    padding-bottom: ;
    padding-left: ;
    margin: auto;
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ; */
    place-content: ;
    align-content: ;
    justify-content: ; 
}
.section-five .seconds .boxs h5 {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.6rem;
    width: 79%;
    text-align: center;
    margin: auto auto 1.5rem;
    margin-top: ;
    margin-right: ;
    margin-bottom: ;
    margin-left: ;
    /* color:red; */
}
.section-five .seconds .boxs img {
    position: absolute;
    top: 80%;
    right: 39%;
    border-radius: 50px;
    border-top-left-radius: ;
    border-top-right-radius: ;
    border-bottom-right-radius: ;
    border-bottom-left-radius: ;
}
/*section six*/
.section-six {
    width: 70%;
    margin:auto;
    justify-items: center;
}
























.footer{
    /* background-color: #1e1666; */
    align-items: center;
    /* justify-content: center; */
    /* width: auto; */
    width: 100%;
    background: #1e1666;
    padding: 80px 0px 35px;
    text-align: center;
    color:#ffffff;
    }
    
    .footer-a {
        align-items: center;
        background-color: #1e1666;
        width: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    
    .footer-b{
        /* display: flex;
        justify-content: center;
        justify-content: space-between;
        margin: 5%; */
    
        width: 85%;
        background-color: #1e1666;
        margin: auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10%;
    }
    .fb1 img {
        width: 11%;
        background-color: #2513d1;
        padding: 0.4rem;
        border-radius: 3px;
    }
    .fb2 img {
        padding: 0.4rem;
        width: 11%;
        background-color: #2513d1;
        /* padding: 0.4rem; */
        border-radius: 3px;
    }
    .fb3 img {
        width: 9.3%;
    }
    .footer-b img {
    margin-left: 3rem;
    height: 5rem;
    width: 5rem;
    background-color: #2513d1;
    padding: 5%;
    /* align-content: center; */
    /* justify-items: center; */
    }
    
    .footer-b h4 {
    /* margin-left: 0.5rem;
    margin-bottom: 1rem;
    line-height: 1.1rem;
    text-align: center; */
    font-size: 500;
    }
    
    .footer-b a {
        /* margin-left: 5rem;
        line-height: 1.1rem;
        text-align: center;
        color: white; */
        text-decoration: none;
        color: white
    
    }
    .footer-b h2 {
            font-size: 20px;
            margin: 1.9rem 0;
            font-weight: 600;
    }
    
    .footer-b3 {
    width: 30%;
    }
    
    
    .footer-c{
        /* display: flex;
        align-items: center;
        /* margin-left: 20%; */
        /* width: 38%; */
        /* margin: auto; */
        /* display: flex; */
        justify-content: space-between;
        width: 100%;
        /* margin: auto; */
        margin: 4rem rem 0 3rem 0;
    }
    .footer-c ul {
        width: 38%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .copy{
    /* margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%; */
        width: 100%;
        margin: auto;
        margin: 4rem 0 3rem 0;
    }
    
    .footer-logo{
    /* outline: 50px solid red; */
    /* margin-left: 30%; */
        align-items: center;
        width: 25%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;}
    
    .footer-logo img{
        /* justify-content: center;
        justify-content: space-between;    
        justify-items: space-between;
        height: 5rem;
        width: 5rem; */
        width: 1.5rem;
        margin: auto;
    }
    
    
    .a {
        width: 1rem;
    }
    .b{
    width: 1.5rem;
    }
    .c{
        width: 3rem;
    }
    .d{
    width: 1.5rem;
    }